---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<ul>
		<li><a href="./prerender/true">prerender = true</a></li>
		<li><a href="./prerender/false">prerender = false</a></li>
		<li><a href="./news">news</a></li>
		<li><a href="./news/16opsvf-py?draftKey=sPFlMckjqf">draft article</a></li>
	</ul>
</Layout>
