---
import Layout from '../../layouts/Layout.astro';
import { fetchContentOrPreview } from '../../libs/microcms';

// 型定義
type News = {
	id: string;
	title: string;
	content: string;
};

// サーバーレンダリングにする
export const prerender = false;

// Astro パラメータから id を取得
const { id } = Astro.params;
if (!id) throw new Error('id is required');

// URL から draftKey を取得
const url = new URL(Astro.url.href);
const draftKey = url.searchParams.get('draftKey');

// キャッシュポリシーの定義
const cachePolicies = {
	noCache: 'no-store, no-cache, max-age=0, must-revalidate',
	publicIsr: 'public, s-maxage=30, stale-while-revalidate=30',
};

// 詳細データを取得
const content: News | null = await fetchContentOrPreview<News>({
	endpoint: 'news',
	id,
	draftKey,
});

// 詳細データがない場合は 404 ページにリダイレクト
if (!content) {
	Astro.response.headers.set('Cache-Control', cachePolicies.noCache);
	return Astro.redirect('/404', 302);
}

// キャッシュポリシーを設定
const cachePolicy = draftKey ? cachePolicies.noCache : cachePolicies.publicIsr;
Astro.response.headers.set('Cache-Control', cachePolicy);
---

<Layout title={content.title}>
	<main>
		<h1>{content.title}</h1>
		<div set:html={content.content} />
	</main>
</Layout>
