---
import Layout from '../../layouts/Layout.astro';
import { client } from '../../libs/microcms';

// 静的生成（プリレンダリング）にする
export const prerender = true;

// 型定義
type News = {
	id: string;
	title: string;
	content: string;
};

// microCMSのエンドポイント "news" から全ての記事データを取得
const news = await client.getAllContents<News>({
	endpoint: 'news',
});
---

<Layout title="お知らせ一覧">
	<main>
		<h1>お知らせ一覧</h1>
		<ul>
			{
				news.map((item) => (
					<li>
						<a href={`/news/${item.id}`}>{item.title}</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>
